body{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: "roboto", "Helvetica Neue";
    margin: 0;
}
.top-container {
    background-color: #1f2937;
    display: flex !important;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 13%;
    padding-right: 13%;
    
}
.header {
    display: flex;
    font-size: 24px;
    color: white !important;
    font-weight: 900;
    
}
.top-links{
    display: flex;
    font-size: 24px;
    gap: 100px;
}
ul {
    display: flex !important;
    align-self: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}
a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
  }

.hero {
    display: flex;
    background-color: #1f2937;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 7%;
    padding-bottom: 7%;
    justify-content: space-between;

}
.left-hero {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 10px;
}
.subtext {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: normal;
}
.right-hero{
    display: flex;
    font-size: 18px;
    font-weight: normal;
    background-color: gray;
    text-align: center;
    justify-self: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    color: #F9FAF8;

}
.sign-up {
    margin-top: -20px;

}
.sign-up-button{
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 16px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-style: solid;

}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.random-info{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 50px;
}
.box-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;

}
.blue-box {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;

}

.box-subtext {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.BS-text {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
    color: gray !important;
}

.top-bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e5e7eb;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.quote {
    display: flex;
    flex-direction: column;
    max-width: 763px;

}
.quote-text {
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic !important;
    color: #1f2937;
}
.quote-author {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-weight: 900;
}

.top-footer {
    color: #F9FAF8;
    display: flex !important;
    justify-content: center;
    align-items: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

}
.inside-footer {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    border-radius: 10px;


}
.left-footer{
    display: flex !important;
    flex-direction: column;
    font-size: 24px;
}
.call-to-action {
    font-weight: 900;

}
.CTA-subtext {
    font-weight: 300;
}

#CTA-button {
    display: block;
    align-items: center;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    font-size: 16px;
    padding: 5px;
    padding-right: 25px;
    padding-left: 25px;
    border-style: solid;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}